In [ ]:
import pandas as pd

## mapping ranges of values in pandas dataframe
#### https://stackoverflow.com/questions/50098025/mapping-ranges-of-values-in-pandas-dataframe

In [ ]:
list_a = [0, 2, 5, 8, 10]
list_b = [1, 3, 5, 7, 9]
df = pd.DataFrame(list(zip(list_a, list_b)), columns = ['num_1', 'num_2'])
df

   num_1  num_2
0      0      1
1      2      3
2      5      5
3      8      7
4     10      9

In [ ]:
d = {range(0,1): 'never', range(1,2): 'once', range(2,3): 'twice', range(3, 20): 'more than three times'}
df['category'] = df['num_1'].apply(lambda x: next((v for k,v in d.items() if x in k), 0))
df

   num_1  num_2               category
0      0      1                  never
1      2      3                  twice
2      5      5  more than three times
3      8      7  more than three times
4     10      9  more than three times

In [ ]:
df['num_4'] = df.apply(lambda x: x.num_1 + x.num_2, axis=1)

# diselect certain columns in df

In [ ]:
df[df.columns.difference(['num_1'], sort=False)]

   num_2               category
0      1                  never
1      3                  twice
2      5  more than three times
3      7  more than three times
4      9  more than three times

In [ ]:
df.loc[:, ~df.columns.isin(['num_1'])]

   num_2               category
0      1                  never
1      3                  twice
2      5  more than three times
3      7  more than three times
4      9  more than three times

# Dictinary
### https://www.programiz.com/python-programming/dictionary

## Create a dictionary
While the values can be of any data type and can repeat, keys must be of immutable type (string, number or tuple with immutable elements) and must be unique.

In [ ]:
# correct case
dic = {'a':'a', 'b':'b'} #o: {'a': 'a', 'b': 'b'}
# dic = dict(a='a', b='b')  #o: {'a': 'a', 'b': 'b'}
# dic = dict({'a':'a', 'b':'b'}) #o: {'a': 'a', 'b': 'b' }
# dic = dict({1:'a', 2:'b'}) #o: {1: 'a', 2: 'b'}

# error case
# dic = {a:'a', b:'b'} # error 'a' not defined BU
# dic = dict({a:'a', b:'b'}) # error 'a' not defined

print(dic)

{'a': 'a', 'b': 'b'}

# Dictionary Comprehension

In [ ]:
squares = {x: x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
def counts(teamA, teamB):
  if (not teamA) or (not isinstance(teamA, list)) or len(teamA) > 10**5 or len(teamA) < 2:
    raise Exception("TeamA input is invalid")

  if (not teamB) or (not isinstance(teamB, list)) or len(teamB) > 10**5 or len(teamB) < 2:
    raise Exception("TeamB input is invalid") 


  list_count = []

  for m in teamB:
    count = 0
    if m < 1 or m > 10**9:
      raise Exception(f"TeamB score {m} is invalid") 
    for n in teamA:
      if n < 1 or n > 10**9:
        raise Exception(f"TeamA score {n} is invalid") 
      if n <= m:
        count+= 1
    list_count.append(count)
  return list_count

if __name__ == '__main__':
  print(counts([1, 4, 2, 4], [3, 5]))

[2, 4]

In [ ]:
a = [1, 3, 3, 5]
b = list(set(a))
print(b.sort(revserse=True))

None